
<h1>Results for <%= params['query']  %></h1>


 <div class="panel panel-default 

<% if(Customer.find(:all, :conditions => ['name LIKE ?', "%#{params['query']}%"]).length <1)  %>
	hidden
<%  end %>

">
  <div class="panel-heading">Customers</div>
  <div class="panel-body">


  <div class="table-responsive">
    <table id="customertable" class="table table-bordered table-hover table-striped">
  <thead>

    <tr>
      <th>Name</th>
      <th>Calls in past year</th>    
      <th>Company</th>
      <th>Phone</th>
      <th>Email</th>      
      
    </tr>
  </thead>

  <tbody>
  	
  	
    <% Customer.find(:all, :conditions => ['name LIKE ?', "%#{params['query']}%"]).each do |customer| %>
      <tr>
        <td><a href="<%= url_for customer %>"> <%= customer.name %> </a> </td>
        
        <td><%= Call.where(customer_id: customer.id).where(created_at: (Time.now - 1.year)..Time.now).length %></td>
        
       
        <td>
        	<%= 
        	if(customer.company != nil)
        	customer.company.name 
        	end
        	%>
        </td>
        
        
        <td><%= customer.phone_number %></td>
        <td><%= customer.email %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

 <div class="panel panel-default 

<% if(Company.find(:all, :conditions => ['name LIKE ?', "%#{params['query']}%"]).length <1)  %>
	hidden
<% end %>

">
  <div class="panel-heading">Companies</div>
  <div class="panel-body">
  	
  <div class="table-responsive">
    <table id="companytable" class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
       <th>BPID</th>  
     
      
    </tr>
  </thead>

  <tbody>
    <% Company.find(:all, :conditions => ['name LIKE ?', "%#{params['query']}%"]).each do |company| %>
      <tr>
        <td> <a href="<%= url_for company %>"> <%= company.name %> </a> </td>
        
        
        <td><%= company.BPID %></td>
             
     
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

<script>
	$(document).ready(function() {
    $('#customertable').dataTable();
     $('#companytable').dataTable();
} );

</script>




