

<%form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>


<div class="panel panel-default

<% if(@matching_companies.length <1)  %>
 hidden
<% end %>

">
 <div class="panel-heading">Companies</div>
 <div class="panel-body">

 <div class="table-responsive">
   <table id="companytable" class="table table-bordered table-hover table-striped">
 <thead>
   <tr>
     <th>Name</th>
      <th>BPID</th>
      <th> </th>

   </tr>
 </thead>

 <tbody>
   <% @matching_companies.each do |company| %>
     <tr>
       <td> <a href="<%= url_for company %>"> <%= company.name %> </a> </td>


       <td><%= company.BPID %></td>


         <td>
            <% if current_user %>
           <% if company.isFavorited(current_user) %>
             <div class="btn btn-default pull-right favorite-company-button" data-company-id=<%= company.id %> onclick="toggleFavoriteCompany(this)"> <i class="fa fa-star" ></i> <span>Favorited</span> </div>
            <% else %>
             <div class="btn btn-default pull-right favorite-company-button" data-company-id=<%= company.id %> onclick="toggleFavoriteCompany(this)"> <i class="fa fa-star-o" ></i> <span>Add To Favorites</span> </div>
            <% end %>
                <% end %>
        </td>


     </tr>
   <% end %>
 </tbody>
</table>
</div>
</div>
</div>

<% if @calls.length > 0 %>
<div class="panel panel-default" style="margin-top:10px;">

  <div class="panel-heading">
    <h3><%= in_words(@calls.length).titleize %> <%= 'call'.pluralize(@calls.length )%> containing '<%= params[:query] %>' </h3>
  </div>

  <div class="panel-body">



  <% @calls.compact.sort_by(&:"#{:created_at}").reverse.each do |call| %>


    <% if (call )  %>



     <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to ''.concat(call.getCategoryName).concat(' call from ').concat(call.getCustomerName).concat(" at ").concat(call.getCompanyName) , controller: "calls", action: "show", id: call.id %>

        <div class="label label-primary pull-right"><%= time_ago_in_words(call.created_at)  %> ago</div>
        </div>
      <div class="panel-body">
       <%= simple_format(call.text) %>
      </div>
    </div>



    <% end %>
  <% end %>

</div>
</div>
<% end %>


 <div class="panel panel-default

<% if(@matching_customers.length <1)  %>
  hidden
<%  end %>

">
  <div class="panel-heading">Customers</div>
  <div class="panel-body">


  <div class="table-responsive">
    <table id="customertable" class="table table-bordered table-hover table-striped">
  <thead>

    <tr>
      <th>Name</th>
      <th>Calls in past year</th>
      <th>Company</th>
      <th>Phone</th>
      <th>Email</th>

    </tr>
  </thead>

  <tbody>


    <% @matching_customers.each do |customer| %>
      <tr>
        <td><a href="<%= url_for customer %>"> <%= customer.name %> </a> </td>

        <td><%= Call.where(customer_id: customer.id).where(created_at: (Time.now - 1.year)..Time.now).length %></td>


        <td>
          <%=
          if(customer.company != nil)
          customer.company.name
          end
          %>
        </td>


        <td><%= customer.phone_number %></td>
        <td><%= customer.email %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>



<script>
  $(document).ready(function() {
    $('#customertable').dataTable();
     $('#companytable').dataTable();
} );

</script>
