<h2>Support Links</h2>

<% if Supportlink.all.first %>

<table class="table table-hover collection">
      <thead>
        <tr>
          
          <th>Name</th>
         <th>URL</th>
         <th>Order</th>
          <th></th>
           <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody>


          <%
          pagenum = params[:id].to_i
          recordsPerPage = 20
          offset = pagenum * recordsPerPage
          %>

      
      
          <% Supportlink.all(:order => 'sortorder').each do |item| %>
     		
         


        <tr>
   
  
   
   
    <td> <%= item.name %> </td>
    <td> <%= item.url %> </td>
    <td> <%= item.sortorder %> </td>
    
      <td>

      <% if item.sortorder != Supportlink.all(:order => 'sortorder').first.sortorder  %> 
     <%= form_tag({controller: "supportlink",action: "moveup"}, method: "post") do %>  
      <%= hidden_field_tag 'link_id', item[:id] %>
      <%= submit_tag("Up") %>
      <%   end %>
    <%   end %>

    </td>
    
      <td>

     <% if item.sortorder != Supportlink.all(:order => 'sortorder').last.sortorder %> 
     <%= form_tag({controller: "supportlink",action: "movedown"}, method: "post") do %>  
      <%= hidden_field_tag 'link_id', item[:id] %>
      <%= submit_tag("Down") %>
      <%   end %>
    <%   end %>

    </td>
    
    <td>

     
     <%= form_tag({controller: "supportlink",action: "destroy"}, method: "post") do %>  
      <%= hidden_field_tag 'link_id', item[:id] %>
      <%= submit_tag("Delete") %>
      <%   end %>
    

    </td>
    </tr>

    <% end  %>

       
       
      </tbody>
    </table>


 <% else  %>

<div class="alert alert-danger">No links are listed!</div>


 <% end  %>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">List a new link</h3>
  </div>
  <div class="panel-body">
    


<%= form_for :newlink, url: {controller: "supportlink",action: "create"}, html: {id:"main-form",class: "form-group"} do |f| %>






<div class="form-group" id="input-name">
   <label for="InputName">Name</label>
  <%= f.text_field :name   , class: "form-control", placeholder:"Link name"%>
  </div>




<div class="form-group" id="input-description">
   <label for="InputEmail">URL</label>
  <%= f.text_field :url  , class: "form-control", placeholder:"http://www.ab.com" %>
</div>






 <% f.submit "Supportlink#Create" , class: "btn btn-primary-color", style:"width:100%" %>
  <% submit_tag  :onclick => "return validateform();", class: "btn btn-primary-color", style:"width:100%" %>
 <button type="submit" id="submit-btn" class="btn btn-primary-color" style="width:100%">Submit</button>


</div>

<% end %>

  </div>
</div>




