
<h1>All Calls</h1>



  <div class="table-responsive">
    <table id="maintable" class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
    <th>Caller</th>
     <th>Answerer</th>
      <th>Topic</th>
       <th>Time</th>
    
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Call.all.reverse.each do |call| %>
    
    
    <% caller = Customer.where(:id => call.customer_id).first  %>
      <% answerer = User.where(:id => call.user_id).first  %>
    
      <tr>
      	
      	<% if caller != nil %>
      	<td> <a href="<%= url_for caller %>"> <%= caller.name %> </a></td>
      	 <% else%>
       <td> UNKNOWN CALLER </td>
        <% end %>
        
        <% if answerer != nil %>
        	<td> <%= answerer.firstname %> </td>
         <% else%>
      		<td> </td>
        <% end %>
      	
        <td><%= call.getCategoryName %></td>
        
        <td><%= time_ago_in_words(call.created_at) %> ago</td>
      
        <td><%= link_to 'Show', call %></td>
        <td><%= link_to 'Edit', edit_call_path(call) %></td>
        
       
        <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
      
      
    <% end %>
  </tbody>
</table>
</div>



<script>
	$(document).ready(function() {
    $('#maintable').dataTable();
} );

</script>
