
<h1>All Calls</h1>




<table class="table">
  <thead>
    <tr>
    <th>Caller</th>
      <th>Text</th>
       <th>Time</th>
    
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Call.all.reverse.each do |call| %>
    
    <% caller = Customer.where(:id => call.customer_id).first  %>
      
    
      <tr>
      	
      	<% if caller != nil %>
      	<td><%= caller.name %></td>
      	 <% else%>
       <td> UNKNOWN CALLER </td>
        <% end %>
      	
        <td><%= call.text %></td>
        
        <td><%= time_ago_in_words(call.created_at) %> ago</td>
      
        <td><%= link_to 'Show', call %></td>
        <td><%= link_to 'Edit', edit_call_path(call) %></td>
        
       
        <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
      
      
    <% end %>
  </tbody>
</table>
