 
 
 <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">New Call</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

<div class="row">
       <div class="col-lg-12">
<%= form_for :call, url: calls_path do |f| %>

<div class="row">
	<div class="col-lg-6">
  <p>
    <%= f.label :caller %><br>
    <%= f.text_field :caller %>
  </p>
    <p>
    <%= f.label :category %><br>
    <%= f.select("category_id", Category.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }) %>
  </p>
  </div>
  <div class="col-lg-6">
  
  <p>
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </p>
  
   <p>
    <%= f.label :BPID %><br>
    <%= f.text_field :BPID %>
  </p>
  
  <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>
  
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  </div>
 </div>
 <div class="row">
  <p>
    <%= f.label :text %><br>
    <%= f.text_area(:text, :rows => 5, :class => "logarea", :placeholder => 'Enter text.') %>
  </p>
 </div>

 

 
 
 
 
  <p>
    <%= f.submit  "Save Call", class: "btn btn-success savecall-button col-md-2 col-md-offset-2" %>
  </p>
<% end %>
</div>
</div>



<div class="row">
       <div class="col-lg-12">
      <h1>Hints</h1>
      <div id="hintscontainer">
      
      </div>
      </div>
 </div>




<div class="row">
       <div class="col-lg-12">
      <h1>Previous conversations</h1>
      <div id="previousconversationcontainer">
      
      
      </div>
 </div>
</div>


<% content_for :head do %>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
 
  <script>
  

  
  
  
  
  $(function() {
  	
  	//SET AVAILABLE AUTOCOMPLETES FOR COMPANY
  	 var availableCompanyTags = [
      
<% Company.all.each do |c| %>

"<%= c.name %>",

<% end %>     
    ];
    
       
    
    $( "#call_company" ).autocomplete({
      source: availableCompanyTags
    });
  	
  	
  	
  	//SET AVAILABLE AUTOCOMPLETES FOR CUSTOMER
    var availableCustomerTags = [
      
<% Customer.all.each do |c| %>

"<%= c.name %>",


<% end %>

     
    ];
    
       
    
    $( "#call_caller" ).autocomplete({
      source: availableCustomerTags
    });
    
    
    
    //DO ONEVENTS FOR CUSTOMER FIELD
    
    $( "#call_caller" ).on( "autocompleteselect", function( event, ui ){
    	
        	
    	
    	var custdatacall = $.ajax({
   			url:'/calls/update/'+ui.item.label, //Defined in your routes file
   			//data:('id=' + ui.item.label  )
		} )
  		.done(function(data) {
  			  console.log( "success" );
  			 console.log( data );
  			 customer = data[0];
  			 company = data[1];
  			 
  			 
  			 document.getElementById("call_company").value = company.name;
  			 document.getElementById("call_BPID").value = company.BPID;
  			 
  			 document.getElementById("call_email").value = customer.email;
  			 document.getElementById("call_phone").value = customer.phone_number;
  			 
 		 })
  		.fail(function() {
 		   console.log( "error" );
  		})
  		.always(function() {
   			console.log( "complete" );
		 });
    	
    	
    	
    	 var previouscalls = $.ajax({
   			url:'/calls/history/'+ui.item.label, //Defined in your routes file
   			
		} )
  		.done(function(data) {
  			  			     	
     	  var myNode = document.getElementById("previousconversationcontainer");
			while (myNode.firstChild) {
    			myNode.removeChild(myNode.firstChild);
			}
  			
  			
  			console.log( "datagot call history" );
  			 console.log( data );
  			 
  			  for(var i=0;i<data.length;i++){
  			 	 var newdiv = document.createElement( "div" );
  			 	 newdiv.className+=" alert alert-info";
  				 newdiv.innerHTML = data[i].text ; 	
  				  $("#previousconversationcontainer").append( newdiv );  
  				  
  				  var timelabel = document.createElement( "div" );
  			 	 timelabel.className+=" label label-primary pull-right";
  				 timelabel.innerHTML = jQuery.timeago(data[i].created_at) ;   				 
  				 	
  			  newdiv.appendChild( timelabel );  			 			  
  			 }
  			 
  			 
 		 })
  		.fail(function() {
 		   console.log( "error" );
  		})
  		.always(function() {
   			console.log( "complete" );
		 });
    	
    	
    	 
    }  );
    
     $( "#call_category_id" ).on( "change", function( event, ui ){
     	
     	
     	
     	  var myNode = document.getElementById("hintscontainer");
			while (myNode.firstChild) {
    			myNode.removeChild(myNode.firstChild);
			}
     	
    	
    	var choice = $("#call_category_id").find('option:selected').text() ;
    	
    	console.log(choice);
    	
    	var categoryselect = $.ajax({
   			url:'/category/hints/'+choice, //Defined in your routes file
   			//data:('id=' + ui.item.label  )
		} )
  		.done(function(data) {
  			  console.log( "success" );
  			 			
  			 //document.getElementById("call_company").value = data.company;
  			 
  			 for(var i=0;i<data.length;i++){
  			 	 var newdiv = document.createElement( "div" );
  			 	 newdiv.className+=" alert alert-success";
  				 newdiv.innerHTML = data[i].text;  			 
  			  $("#hintscontainer").append( newdiv );
  			
  			  
  			 }
  			 
 		 })
  		.fail(function() {
 		   console.log( "error" );
  		})
  		.always(function() {
   			console.log( "complete" );
		 });
    	
    	
    	
    	 
    }  );
    
    
  });
  
  
  
 
  
  
    
    
    
  </script> 
  
<% end %>


