

 <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">New Call</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

<div class="row">
       <div class="col-lg-12">
<%= form_for :call, url: calls_path, html: {id: "newcallform"} do |f| %>

<div class="row">
	<div class="col-lg-3">


    <div class="form-group" id="callername_group">
      <%= f.label :called_at %><br>
      <%= f.date_field :called_at, :value => Time.now.strftime('%Y-%m-%d'), class:"form-control called-at-field" %>
    </div>

    <div class="form-group ">
      <%= f.label "Origin Type" %><br>
       <%= f.select("origin_type", Call.origin_types.map { |key, value| [key.humanize, key] }, { include_blank: true }, class:"form-control origin-type-field") %>
     </div>

    <div class="form-group" id="region_group">
     <%= f.label :region %><br>
     <%= f.select("region_id", Region.order("name").collect {|p| [ p.name, p.id ] }, { include_blank: true }, class:"form-control") %>
      </div>


  <div class="form-group" id="callername_group">
    <%= f.label :caller %><br>
    <%= f.text_field :caller, class:"form-control customer-field" %>
  </div>

  <input id="hidden_caller_id" type="hidden" name="code"></input>



    <div class="form-group" id="jobrole_group">
     <%= f.label "Job Role" %><br>
     <%= f.select("job_role_id", JobRole.order("name").collect {|p| [ p.name, p.id ] }, { include_blank: true }, class:"form-control job-role-field") %>
      </div>


   <div class="form-group ">
     <%= f.label :phone %><br>
     <%= f.text_field :phone, class:"form-control phone-field" %>
   </div>

   <div class="form-group ">
     <%= f.label :email %><br>
     <%= f.text_field :email, class:"form-control email-field" %>
   </div>

   <div class="form-group" id="vendor_group">
    <%= f.label "Product Vendor" %><br>
    <%= f.select("product_vendor_id", ProductVendor.order("name").collect {|p| [ p.name, p.id ] }, { include_blank: true }, class:"form-control") %>
     </div>

   <div class="form-group" id="category_group">
    <%= f.label "Product Category" %><br>
    <%= f.select("category_id", Category.order("name").collect {|p| [ p.name, p.id ] }, { include_blank: true }, class:"form-control") %>
     </div>


     <div class="form-group" id="initiative_group">
      <%= f.label :initiative %><br>
      <%= f.select("initiative_id", Initiative.order("name").collect {|p| [ p.name, p.id ] }, { include_blank: true }, class:"form-control") %>
       </div>







  </div>
  <div class="col-lg-3">
  	</div>
  <div class="col-lg-3">


  <div class="form-group ">
    <%= f.label :company %><br>
    <%= f.text_field :company, class:"form-control company-field" %>
   </div>

   <div class="form-group ">
    <%= f.label "RA BPID" %><br>
    <%= f.text_field :BPID, class:"form-control bpid-field" %>
  </div>

  <div class="form-group ">
   <%= f.label "MCMC Account Number" %><br>
   <%= f.text_field :mcmc_account_number, class:"form-control mcmc-account-number-field" %>
 </div>



  <div class="form-group ">
    <%= f.label "Service Contract Type" %><br>
     <%= f.select("service_contract_type", Company.service_contract_types.map { |key, value| [key.humanize, key] }, { include_blank: true }, class:"form-control service-contract-type-field") %>
   </div>


    <div class="form-group" id="region_group">
     <%= f.label "Account Manager" %><br>
     <%= f.select("account_manager_id", AccountManager.order("lastname").collect {|p| [ p.name, p.id ] }, { include_blank: true }, class:"form-control account-manager-field") %>
      </div>



  <div class="form-group" id="region_group">
   <%= f.label "Notified Account Manager?" %><br>
   <%= f.select("notified_account_manager", ['false','true'], { include_blank: false }, class:"form-control") %>
    </div>



  </div>
 </div>

<br>

<div class="row">
 <p>
   <%= f.label "Caller Question" %><br>
   <%= f.text_area(:question_for_call, :rows => 2, :class => "logarea  ", :placeholder => 'Add text.') %>
 </p>
</div>

<div class="row">
 <p>
   <%= f.label "Resolution / Answer" %><br>
   <%= f.text_area(:resolution_for_call, :rows => 2, :class => "logarea  ", :placeholder => 'Add text.') %>
 </p>
</div>


 <div class="row">
  <p>
    <%= f.label "Additional Notes" %><br>
    <%= f.text_area(:text, :rows => 5, :class => "logarea wysihtml5", :placeholder => 'Add text.') %>
  </p>
 </div>



  <p>
  	<a href="javascript:submitform()"  id="submitbutton" class="btn btn-primary-color savecall-button col-md-6 col-md-offset-3">Save Call</a>
    <% f.submit  "Save Call", class: "btn btn-primary-color savecall-button col-md-6 col-md-offset-3" %>
    <div id="errormessage" class= "btn btn-danger savecall-button col-md-6 col-md-offset-3" style="display:none"></div>
  </p>
<% end %>
</div>
</div>



<div class="row">
       <div class="col-lg-12">
      <h1>Prompts</h1>
        <div class="promptscontainer">
            <ul>
                <li>May I have your phone number and email address in case we are disconnected?</li>
                <li>When did this all start happening?</li>
                <li>What is the actual problem that you are trying to solve?</li>
                <li>What steps have been taken so far?</li>
                <li>After the call ends, what was the final resolution?</li>
            </ul>
        </div>
      </div>
 </div>



<div class="row hidden ">
       <div class="col-lg-12">
      <h1>Hints</h1>
      <div id="hintscontainer">

      </div>
      </div>
 </div>




<div class="row">
       <div class="col-lg-12">
      <h1>Previous conversations</h1>
      <div id="previousconversationcontainer" class="previous-conversation-container">


      </div>
 </div>
</div>


<% content_for :head do %>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

  <script>





  $(function() {




    var availableCompanyTags =  <%= raw all_companies_for_autocomplete  %> ;


    $( "#call_company" ).autocomplete({
      source: availableCompanyTags,
            focus: function(event, ui) {
              // prevent autocomplete from updating the textbox
              event.preventDefault();
              // manually update the textbox
              $(this).val(ui.item.label);
        },
        select: function(event, ui) {
              // prevent autocomplete from updating the textbox
              event.preventDefault();
              // manually update the textbox and hidden field
              $(this).val(ui.item.label);
        //  $("#hidden_caller_id").val(ui.item.value);
        }
    });



  	//SET AVAILABLE AUTOCOMPLETES FOR CUSTOMER

    var availableCustomerTags =  <%= raw all_customers_for_autocomplete  %> ;


    $( "#call_caller" ).autocomplete({
      source: availableCustomerTags,
      			focus: function(event, ui) {
					// prevent autocomplete from updating the textbox
					event.preventDefault();
					// manually update the textbox
					$(this).val(ui.item.label);
				},
				select: function(event, ui) {
					// prevent autocomplete from updating the textbox
					event.preventDefault();
					// manually update the textbox and hidden field
					$(this).val(ui.item.label);
					$("#hidden_caller_id").val(ui.item.value);
				}
    });






     $( "#call_category_id" ).on( "change", function( event, ui ){



     	  var myNode = document.getElementById("hintscontainer");
			while (myNode.firstChild) {
    			myNode.removeChild(myNode.firstChild);
			}


    	var choice = $("#call_category_id").find('option:selected').text() ;

    	console.log(choice);

    	var categoryselect = $.ajax({
   			url:'/category/hints/'+choice, //Defined in your routes file
   			//data:('id=' + ui.item.label  )
		} )
  		.done(function(data) {
  			  console.log( "success" );

  			 //document.getElementById("call_company").value = data.company;

  			 for(var i=0;i<data.length;i++){
  			 	 var newdiv = document.createElement( "div" );
  			 	 newdiv.className+=" alert alert-success";
  				 newdiv.innerHTML = data[i].text;
  			  $("#hintscontainer").append( newdiv );


  			 }

 		 })
  		.fail(function() {
 		   console.log( "error" );
  		})
  		.always(function() {
   			console.log( "complete" );
		 });




    }  );


  });




  function submitform()
  {

  	errormessage = "";


  	if($('#call_caller').val().length == 0)
  	{
  		errormessage = "Invalid caller name"
  		$('#callername_group').addClass('has-error');
  		$('#callername_group').addClass('animated bounce');

  	}

  	else if($('#call_category_id').val() == 0)
  	{
  		errormessage = "Please select a category topic"

  		$('#category_group').addClass('has-error');
  		$('#category_group').addClass('animated bounce');
  	}




  	if(errormessage.length == 0)
  	{
  	$('#newcallform').submit();
  	}
  	else
  	{

  		$('#submitbutton').hide();
  		$('#errormessage').show();
  		$('#errormessage').addClass('animated shake');
  		$('#errormessage').html(errormessage);


  		setTimeout(
  			function()
  				{
  				  $('#errormessage').hide();
  					$('#submitbutton').show();

  					$('#category_group').removeClass('has-error');



 				 }, 1500);


  	}

  }



  </script>

<% end %>
