

<% this_call = Call.find(params[:id])  %>

<h2> Call Logged </h2>


 <div class="panel panel-default">
  <div class="panel-heading">Caller Information</div>
  <div class="panel-body">
  
<p> 
Caller: <%= this_call.getCustomer.name %>
</p>
<p> 
Company: <%= this_call.getCustomer.company.name %>
</p>

<% if this_call.getUser %>
<p> 
Respondant: <%= this_call.getUser.name %>
</p>

<% end %>



	
  </div>
</div>
 



 <div class="panel panel-default">
  <div class="panel-heading"> <%= this_call.getCategoryName  %> Support</div>
  <div class="panel-body">
   <%= this_call.text %>
  </div>
</div>
 
