<p id="notice"><%= notice %></p>

<div>

  <h2 > <%= @user.name %> </h2>

  <b>Email:</b>
  <%= @user.email %>


</div>



  <% if @projects.length > 0 %>
  <div class="panel panel-default" style="margin-top:10px;">

    <div class="panel-heading">
    <h3> Projects </h3>
    </div>

    <div class="panel-body">

      <div class="project-tile-list">
        <% @projects.each do |project| %>
          <%= render partial: 'projects/project', locals:{project:project}%>
        <% end %>
      </div>



  </div>


  <%= paginate @projects, :param_name => 'project_page' %>

 
  </div>
  <% end %>


    <% if @calls.length > 0 %>

<h2>Calls  </h2>

<table class="table">
  <thead>
    <tr>

     <th>Caller</th>
      <th>Topic</th>
       <th>Time</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>


      <tr>

      	<td> <a href="<%= url_for call.getCustomer %>"> <%= call.getCustomerName %> </a></td>

        <td><%= call.getCategoryName %></td>

        <td><%= time_ago_in_words(call.created_at) %> ago</td>

        <td><%= link_to 'Show', call %></td>
        <td><%= link_to 'Edit', edit_call_path(call) %></td>


        <td><%= if current_user and current_user.is_admin then link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' } end  %></td>
      </tr>



    <% end %>
  </tbody>
</table>
<% end %>
