<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-sales_metrics"><%= link_to "Sales metrics", casein_sales_metrics_path %></li>
<li id="tab-sals_metrics"><%= link_to "Sals metrics", casein_sals_metrics_path %></li>
<li id="tab-product_segments"><%= link_to "Product segments", casein_product_segments_path %></li>
<li id="tab-product_segment_focus"><%= link_to "Product segment focus", casein_product_segment_focus_path %></li>
<li id="tab-initiative_targets"><%= link_to "Initiative targets", casein_initiative_targets_path %></li>
<li id="tab-initiatives"><%= link_to "Initiatives", casein_initiatives_path %></li>
<li id="tab-companies"><%= link_to "Companies", casein_companies_path %></li>
<li id="tab-bi_quotes"><%= link_to "Bi quotes", casein_bi_quotes_path %></li>
<li id="tab-bi_inside_sales_reps"><%= link_to "Bi inside sales reps", casein_bi_inside_sales_reps_path %></li>
<li id="tab-bi_outside_sales_reps"><%= link_to "Bi outside sales reps", casein_bi_outside_sales_reps_path %></li>
 <li id="tab-bi_vendors"><%= link_to "Bi vendors", casein_bi_vendors_path %></li>
<li id="tab-bi_customers"><%= link_to "Bi customers", casein_bi_customers_path %></li>
<li id="tab-bi_orders"><%= link_to "Bi orders", casein_bi_orders_path %></li>
<li id="tab-users"><%= link_to "Users", casein_users_path %></li>
