<h2>Account Assignment</h2>

<% if Accountassignment.all.first %>

<table class="table table-hover collection">
      <thead>
        <tr>

          <th>BPID</th>
          <th>Company</th>

          <th>Employee</th>
        </tr>
      </thead>
      <tbody>


          <%
          pagenum = params[:id].to_i
          recordsPerPage = 20
          offset = pagenum * recordsPerPage
          %>

        <% # Event.limit(recordsPerPage).offset(offset).each do |item| %>
          <% Accountassignment.all.each do |item| %>




        <tr>

        <% employee = Employee.find_by_id(item.employee_id) %>
        <% company = Company.where(:bpid => item.bpid).first %>


        <td> <%= item.bpid %> </td>
    <td>
      <%=  if company
           company.name
       end %>

     </td>

    <td> <%= employee.initials %> </td>

    </tr>

    <% end  %>



      </tbody>
    </table>


 <% else  %>

<div class="alert alert-danger">No assignments are listed!</div>


 <% end  %>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Import account assignments from a CSV file</h3>
  </div>
  <div class="panel-body">



<%= form_for :newassignment, url: {controller: "account_assignment",action: "import"}, html: {id:"main-form",class: "form-group"} do |f| %>
<div class="form-group" id="input-name">
   <label for="InputName">Assignment CSV List</label>

  <%= f.file_field :assignment_csv_file %>

  </div>

  <div class="well"> Expects a CSV file with an 'initials' column and a 'bpid' column</div>

 <% f.submit "AccountAssignment#Import" , class: "btn btn-success", style:"width:100%" %>
  <% submit_tag  :onclick => "return validateform();", class: "btn btn-success", style:"width:100%" %>
 <button type="submit" id="submit-btn" class="btn btn-success" style="width:100%">Submit</button>


</div>

<% end %>

  </div>
</div>
