
            <div class="row">
                <div class="col-xs-8">
                    <h1 class="page-header">

                      Projects Overview

                    </h1>


                </div>
                  <div class="col-xs-4">
                    <a href="<%= url_for :controller => 'projects', :action => 'new' %>">
                      <button type="button" class="btn btn-primary-color overview-new-call-btn"><i class="fa fa-plus-circle"></i> New Project</button>
                    </a>

                  </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="project-export-container pull-right">
              Download all projects:
              <%= link_to "CSV", projects_export_path(format: "csv") %>

            </div>

            <%project_sort_terms = {"Last Updated"=>"updated_at","Project Cost"=>"cost_estimate_cents"  } %>
            <div class="project-sort-selection-container">
                Sort by:
                <% project_sort_terms.keys.each do |key| %>

                <% if @sort_by == project_sort_terms[key] then sort_term_class = "active" else  sort_term_class = ""  end  %>

                            <a href=" <%= url_for( :sort_by => project_sort_terms[key] ) %>" >
                                  <span class="<%= sort_term_class %>" data-attribute=<%= project_sort_terms[key] %> >  <%=key%> <span>
                        </a>
                <% end %>
            </div>

            <div class="project-tile-list">
              <% @projects.each do |project| %>
                <%= render partial: 'project', locals:{project:project}%>
              <% end %>
            </div>

            <%= will_paginate @projects %>
