
          <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">New Project</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

<div class="row">
       <div class="col-lg-12">
<%= form_for @new_project, url: projects_path, html: {id: "new-project-form"} do |f| %>

<div class="row">
	<div class="col-lg-3">


  <div class="form-group" id="callername_group">
    <%= f.label "Primary Contact" %><br>
    <%= f.text_field :customer, class:"form-control customer-field" %>

    <%= f.hidden_field :customer_id, class:"form-control customer-id-field" %>

  </div>

  <div class="form-group ">
    <%= f.label "Primary Company" %><br>
    <%= f.text_field :primary_company, class:"form-control company-field" %>
    <%= f.hidden_field :primary_company_id, class:"form-control primary-company-id-field" %>

   </div>

   <div class="form-group ">
     <%= f.label "Secondary Company" %><br>
     <%= f.text_field :secondary_company, class:"form-control" %>
     <%= f.hidden_field :secondary_company_id, class:"form-control secondary-company-id-field" %>

    </div>


  </div>
  <div class="col-lg-3">

    <div class="form-group ">
      <%= f.label :phone %><br>
      <%=  text_field_tag :phone, nil, class:"form-control phone-field" %>
    </div>

    <div class="form-group ">
      <%= f.label :email %><br>
      <%= text_field_tag :email, nil, class:"form-control email-field" %>
    </div>


  	</div>
  <div class="col-lg-6">



   <div class="form-group ">
    <%= f.label "Project Name" %><br>
    <%= f.text_field :name, class:"form-control" %>
   </div>

   <div class="form-group ">
    <%= f.label "Project Cost Estimate ($)" %><br>
    <%= f.text_field :cost_estimate, data: {autonumeric:  {aSign: '$ ', mDec: 2} }  , class:"form-control"%>


   </div>




   <div class="form-group ">
    <%= f.label "Product Segments" %><br>


     <%= render partial: "interface/toggle_tags", locals:{types: Project.product_segment_type_names  } %>



   </div>



  </div>
 </div>
 <div class="row">
  <p>
    <%= f.label "Project Notes" %><br>
    <%=  text_area_tag(:text, nil, :rows => 5, :class => "logarea wysihtml5", :placeholder => 'Enter information.') %>
  </p>
 </div>



  <p>
  	<a href="javascript:submitform()"  id="submitbutton" class="btn btn-primary-color save-project-button col-md-6 col-md-offset-3">Save Project</a>
    <% f.submit  "Save New Project", class: "btn btn-primary-color savecall-button col-md-6 col-md-offset-3" %>
    <div id="errormessage" class= "btn btn-danger savecall-button col-md-6 col-md-offset-3" style="display:none"></div>
  </p>
<% end %>
</div>
</div>

<script>

var availableCompanyTags =  <%= raw all_companies_for_autocomplete  %> ;

var availableCustomerTags =  <%= raw all_customers_for_autocomplete  %> ;

    $( "#project_primary_company" ).autocomplete({
      source: availableCompanyTags,
      focus: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox
            $(this).val(ui.item.label);
      },
      select: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox and hidden field
            $(this).val(ui.item.label);
            $(".primary-company-id-field:first").val(ui.item.value);
      }
    });

    $( "#project_secondary_company" ).autocomplete({
      source: availableCompanyTags,
      focus: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox
            $(this).val(ui.item.label);
      },
      select: function(event, ui) {
            // prevent autocomplete from updating the textbox
            event.preventDefault();
            // manually update the textbox and hidden field
            $(this).val(ui.item.label);
            $(".secondary-company-id-field:first").val(ui.item.value);
      }
    });




    $( ".customer-field:first" ).autocomplete({
      source: availableCustomerTags,
            focus: function(event, ui) {
          // prevent autocomplete from updating the textbox
          event.preventDefault();
          // manually update the textbox
          $(this).val(ui.item.label);
        },
        select: function(event, ui) {
          // prevent autocomplete from updating the textbox
          event.preventDefault();
          // manually update the textbox and hidden field
          $(this).val(ui.item.label);
          $(".customer-id-field:first").val(ui.item.value);
        }
    });


function submitform()
{

  errormessage = "";


  if($('.customer-field:first').val().length == 0)
  {
    errormessage = "Missing contact name"
    $('#callername_group').addClass('has-error');
    $('#callername_group').addClass('animated bounce');

  }




  if(errormessage.length == 0)
  {
      $('#submitbutton').addClass("disable");
      $('#new-project-form').submit();
  }
  else
  {

    $('#submitbutton').hide();
    $('#errormessage').show();
    $('#errormessage').addClass('animated shake');
    $('#errormessage').html(errormessage);


    setTimeout(
      function()
        {
          $('#errormessage').hide();
          $('#submitbutton').show();

          $('#category_group').removeClass('has-error');

       }, 1500);


  }

}



</script>
