
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">My Favorited Companies</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>




<div class="table-responsive" style="overflow-x: hidden;">
   <table id="company-table" class="table table-bordered table-hover table-striped" >
 <thead>
   <tr>
     <th>Company Name</th>

     <th>Calls in past year</th>
      <th>Auth. #</th>

   </tr>
 </thead>

 <tbody>
   <% @companies.each do |company| %>

    <%
    @usercount = 0
    callcount = 0
    Customer.where(company_id: company.id).each do |cust|
      @usercount = @usercount + 1
      callcount += Call.where(customer_id: cust.id).length
    end
   %>

     <tr>
       <td><a href="<%= url_for company %>"> <%= company.name %> </a>  </td>



       <td><%= callcount %></td>



       <td><%= company.BPID %></td>



     </tr>
   <% end %>
 </tbody>
</table>

</div>

<div class="panel panel-default ">
 <div class="panel-heading">Customers</div>
 <div class="panel">


 <div class="table-responsive" style="overflow-x: hidden;">
   <table id="customer-table" class="table table-bordered table-hover table-striped">
 <thead>

   <tr>
     <th>Name</th>
     <th>Calls in past year</th>
     <th>Company</th>
     <th>Phone</th>
     <th>Email</th>

   </tr>
 </thead>

 <tbody>


   <% @customers.each do |customer| %>
     <tr>
       <td><a href="<%= url_for customer %>"> <%= customer.name %> </a> </td>

       <td><%= Call.where(customer_id: customer.id).where(created_at: (Time.now - 1.year)..Time.now).length %></td>


       <td>
         <%=
         if(customer.company != nil)
         customer.company.name
         end
         %>
       </td>


       <td><%= customer.phone_number %></td>
       <td><%= customer.email %></td>

     </tr>
   <% end %>
 </tbody>
</table>
</div>
</div>
</div>




<div class="panel panel-default" style="margin-top:10px;">

<div class="panel-heading">
  <h3>Recent support calls</h3>
</div>

<div class=" ">



<% @calls.each do |call| %>


  <% if (call )  %>


    <%= render partial: "calls/call_preview", locals:{call: call} %>

  <% end %>
<% end %>

</div>
</div>


<script>
 $(document).ready(function() {
   $('#company-table').dataTable();
   $('#customer-table').dataTable();
} );
</script>
