<h3><%=@vendor.name%> </h3>


<ul class="nav nav-tabs nav-tabs-dark">
  <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
  <li><a data-toggle="tab" href="#customers">Top Customers</a></li>
  <li><a data-toggle="tab" href="#products">Top Products</a></li>
  <li><a data-toggle="tab" href="#categories">Product Segments</a></li>
</ul>

<div class="tab-content tab-content-padded">
  <div id="overview" class="tab-pane fade in active">

    <p>Total Cost (90 day)</p>
    $<%= @total_cost %>

  </div>
  <div id="customers" class="tab-pane fade">

    <p>Total Revenue (90 day)</p>
    $<%= @total_revenue %>

    <br> 

    <%   @sales_metrics.each do |metric| %>
    <p>
      <%= metric.company_name %>  -  $<%= metric.value_formatted %>
      <p/>
    <% end %>

  </div>
  <div id="products" class="tab-pane fade">

    <p> </p>
  </div>

  <div id="categories" class="tab-pane fade">
    <%= form_for @vendor do |f| %>


    <div class="segment-focus-cocoon">
      <%= f.fields_for :focused_product_segments do |segment| %>
        <%= render 'product_segments/focused_product_segment_fields', f: segment %>
       <% end %>
     <div class="links">
        <%= link_to_add_association 'add segment focus', f, :focused_product_segments, partial:'product_segments/focused_product_segment_fields' %>
      </div>
    <%= f.submit %>
    </div>
    <% end %>

  </div>
</div>
