

<h2>Update <%= @company.name %> </h2>


<%= form_for @company, url: { action: "update" } do |f| %>



<div class="row">

  <div class="col-sm-6">

  <div class="form-group">
    <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </p>


	<p>
		<%= f.label :address %><br>
		<%= f.text_field :address, class:"form-control" %>
	</p>

 <p>
    <%= f.label :BPID %><br>
    <%= f.text_field :BPID, class:"form-control" %>
  </p>


    <div class="form-group ">
     <%= f.label "MCMC Account Number" %><br>
     <%= f.text_field :mcmc_account_number, class:"form-control bpid-field" %>
   </div>

   <div class="form-group" id="region_group">
    <%= f.label "Account Manager" %><br>
    <%= f.select("account_manager_id", AccountManager.order("lastname").collect {|p| [ p.name, p.id ] }, { include_blank: true }, class:"form-control") %>
     </div>


 </div>


  </div>

  <!--
<div class="col-sm-6">

<% if @company.bi_customer == nil %>

  <h4> Similar BI Customer Matches </h4>
    <% @similar_bi_customers.each do |bi_cust| %>
    <p>
      <%= bi_cust.name %>
    </p>
    <% end %>
<% end %>

</div>
-->


 </div>


  <p>
    <%= f.submit  "Submit Updates", class: "btn btn-primary-color savecall-button col-md-2 col-md-offset-2" %>

<%  if current_user and current_user.is_admin %>
  <a href=<%= url_for @company %> data-confirm="Are you sure?" data-method="delete" rel="nofollow" class="btn btn-danger col-md-2 col-md-offset-2">Delete</a>
<% end %>

  </p>





<% end %>
