
<h1>All Companies</h1>


  <div class="table-responsive">
    <table id="maintable" class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Employees</th>  
      <th>Calls in past year</th>  
       <th>BPID</th>  
     
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Company.all.each do |company| %>
    
     <%	     
     employeecount = 0
   	callcount = 0
   	
   	Customer.where(company_id: company.id).each do |cust|
   		employeecount = employeecount + 1
   		
   		callcount = Call.where(customer_id: cust.id).length   		
   	end
   	
   	
    %>
    
      <tr>
        <td><%= company.name %></td>
        
        <td><%= employeecount %></td>
        
        <td><%= callcount %></td>
        
        
        
        <td><%= company.BPID %></td>
    

          <td>
        	<a href = "<%= url_for company %>">
        	<button type="button" class="btn btn-show">Show</button>
        	</a>        	
        </td>
        
        <td>
        	<a href = "<%= url_for edit_company_path(company) %>">
        	<button type="button" class="btn btn-edit">Edit</button>
        	</a>        	
        </td>
        
        <td>
        	<a href = "<%= url_for company  %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow">
        	<button type="button" class="btn btn-destroy">Destroy</button>
        	</a>        	
        </td>
        
        
        
      </tr>
    <% end %>
  </tbody>
</table>

</div>


<script>
	$(document).ready(function() {
    $('#maintable').dataTable();
} );

</script>
