


<% this_company = Company.find(params[:id])  %>


<%


calls = Array.new

  Call.order("created_at" + " DESC").each do |call|

    customer = call.getCustomer
    if customer
      company = customer.company

      if company and company === this_company
        calls << call
      end
    end
  end



  assignment = Accountassignment.where(:bpid => this_company.BPID).first
  if assignment
    accountmgr = Employee.find_by_id(assignment.employee_id)
  end

  %>




<h2><%= this_company.name %> </h2>


 <div class="panel panel-default">
  <div class="panel-heading">Company Information</div>
  <div class="panel-body">
    <p>
    Address: <%= this_company.address %>
    </p>
    <p>
      BPID: <%= this_company.BPID %>
    </p>
    <% if accountmgr %>
    <p>
      Account Rep: <a href="/employee/<%= accountmgr.initials %>" > <%= accountmgr.name %> </a>
    </p>
    <% end %>

</div>
</div>



 <a href = "<%= url_for edit_company_path(this_company) %>">
        	<button type="button" class="btn btn-warning col-md-4 col-md-offset-4">Edit Company Info</button>
   </a>
<br>

<h3>Employees</h3>



<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Calls in past year</th>
      <th>Notes</th>
      <th>Phone</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% Customer.where(company_id: this_company.id).each do |customer| %>
      <tr>
        <td><%= link_to customer.name, customer %></td>

        <td><%= Call.where(customer_id: customer.id).where(created_at: (Time.now - 1.year)..Time.now).length %></td>


        <td><%= customer.notes %></td>


        <td><%= customer.getFormattedPhone %></td>
        <td><%= customer.email %></td>


      </tr>
    <% end %>
  </tbody>
</table>




<div class="panel panel-default" style="margin-top:10px;">

  <div class="panel-heading">
    <h3>Recent support calls</h3>
  </div>

  <div class="panel-body">



  <% calls.each do |call| %>


    <% if (call )  %>



     <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to ''.concat(call.getCategoryName).concat(' call from ').concat(call.getCustomerName).concat(" at ").concat(call.getCompanyName) , controller: "calls", action: "show", id: call.id %>

        <div class="label label-primary pull-right"><%= time_ago_in_words(call.created_at)  %> ago</div>
        </div>
      <div class="panel-body">
       <%= simple_format(call.text) %>
      </div>
    </div>



    <% end %>
  <% end %>

</div>
</div>
