



  <% if( Supportlink.all.length > 0) %>

   <li>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTools" aria-expanded="true" aria-controls="collapseTools">
          <i class="fa fa-wrench fa-fw"></i> Support Tools<span id="toolsArrow" class="fa fa-chevron-circle-down pull-right"  style="display:none" ></span></a>
        <ul id="collapseTools" class="nav nav-second-level collapse  " aria-expanded="true">


          <% Supportlink.order(:sortorder).each do |link| %>

            <li>
                <a href="<%= link.url %>" target="_blank"><%= link.name %></a>
            </li>
             <% end %>

        </ul>
        <!-- /.nav-second-level -->
    </li>

  <% end %>




  <li>
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseAdmin" aria-expanded="false" aria-controls="collapseAdmin">
        <i class="fa fa-star fa-fw" style="color:<%= color(1) %>" ></i> Admin Tools<span id="adminArrow" class="fa fa-chevron-circle-down pull-right" ></span></a>
      <ul id="collapseAdmin" class="nav nav-second-level collapse" >
          <li>
              <a href="<%= url_for :controller => 'category', :action => 'index' %>">Categories</a>
          </li>
          <li>
              <a href="<%= url_for :controller => 'admin', :action => 'category_hints' %>">Category Hints</a>
          </li>
          <li>
              <a href="<%= url_for :controller => 'admin', :action => 'supportlinks' %>">Support Links</a>
          </li>
          <li>
              <a href="<%= url_for :controller => 'admin', :action => 'regions' %>">Regions</a>
          </li>
      </ul>
      <!-- /.nav-second-level -->
  </li>
