<%= extends :application do %>

<%= replace :navbar_buttons do %>
<!--
<a href="<%= url_for :controller => 'calls', :action => 'new' %>">
  <button type="button" class="btn btn-default">Checkout Hardware</button></a>
-->
<% end %>

<%= replace :sidebar_secondary do %>

<li>
     <a data-toggle="collapse" data-parent="#accordion" href="#collapseTools" aria-expanded="true" aria-controls="collapseTools">
       <i class="fa fa-wrench fa-fw"></i> Actions<span id="toolsArrow" class="fa fa-chevron-circle-down pull-right"  style="display:none" ></span></a>
     <ul id="collapseTools" class="nav nav-second-level collapse in" aria-expanded="true">




         <li> <%= link_to "Checkout Parts", controller: "DemoInventory", action: "index"   %>    </li>
         <li> <%= link_to "Return Parts", controller: "DemoInventory", action: "index"   %>    </li>
         <li> <%= link_to "Add Parts To Database", controller: "DemoInventory", action: "index"   %>    </li>
         <li> <%= link_to "Extend Due Date", controller: "DemoInventory", action: "index"   %>    </li>

     </ul>
     <!-- /.nav-second-level -->
 </li>

<% end %>


<%= yield %>
<% end %>
